In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [0]:
Weather_url = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv"

#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv

In [4]:
weather_data = pd.read_csv(Weather_url)
weather_data.shape

(51932, 58)

In [43]:
weather_data.tail()

       BEGIN_YEARMONTH  BEGIN_DAY  ...  ADDCORR_FLG  ADDCORR_DATE
51927           201310         31  ...          NaN           NaN
51928           201310         31  ...          NaN           NaN
51929           201310         31  ...          NaN           NaN
51930           201310         31  ...          NaN           NaN
51931           201310         31  ...          NaN           NaN

[5 rows x 58 columns]

In [44]:
dfweather_data = weather_data[['STATE','DAMAGE_PROPERTY']].copy()
dfweather_data

              STATE DAMAGE_PROPERTY
0           ALABAMA             NaN
1          COLORADO           0.00K
2        CALIFORNIA           0.00K
3           WYOMING           0.00K
4      SOUTH DAKOTA           0.00K
...             ...             ...
51927       INDIANA           4.00K
51928       INDIANA           1.00K
51929       INDIANA          10.00K
51930       INDIANA           0.50K
51931       INDIANA           1.50K

[51932 rows x 2 columns]

In [45]:
dfweather_data.isnull().sum().sort_values()

STATE                 0
DAMAGE_PROPERTY    7751
dtype: int64

In [46]:
dfweather_data.dtypes

STATE              object
DAMAGE_PROPERTY    object
dtype: object

In [0]:
#dropping NaN values
dfweather_data = dfweather_data.dropna()

In [48]:
dfweather_data.isnull().sum().sort_values()

STATE              0
DAMAGE_PROPERTY    0
dtype: int64

In [51]:
dfweather_data.sort_values(by='DAMAGE_PROPERTY', ascending= False)
dfweather_data.head(10)

           STATE DAMAGE_PROPERTY
1       COLORADO           0.00K
2     CALIFORNIA           0.00K
3        WYOMING           0.00K
4   SOUTH DAKOTA           0.00K
5       COLORADO           0.00K
6       COLORADO           0.00K
7       COLORADO           0.00K
8       COLORADO           0.00K
9       COLORADO           0.00K
11      OKLAHOMA           0.00K

In [71]:
dfweather_data.loc[lambda dfweather_data: dfweather_data['DAMAGE_PROPERTY'] == "B"]
dfweather_data.head()

#look at https://stackoverflow.com/questions/39684548/convert-the-string-2-90k-to-2900-or-5-2m-to-5200000-in-pandas-dataframe

          STATE DAMAGE_PROPERTY  DAMAGE_PROPERTY_K
1      COLORADO           0.00K                0.0
2    CALIFORNIA           0.00K                0.0
3       WYOMING           0.00K                0.0
4  SOUTH DAKOTA           0.00K                0.0
5      COLORADO           0.00K                0.0

In [0]:
#def object_to_float(cell_contents):
  if cell_contents == 'K':
    print("Thousand")
  elif cell_contents == "B":
    print("Billion")

In [0]:
#def object_to_float(cell_contents):
  #return float(cell_contents.strip('M').strip('B').strip('K'))

In [53]:
dfweather_data['DAMAGE_PROPERTY_K'] = dfweather_data['DAMAGE_PROPERTY'].apply(object_to_float)
#dfweather_data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.