In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random


import plotly
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, plot, iplot

In [0]:
# for colab:
def enable_plotly_in_cell():
    import IPython
    from plotly.offline import init_notebook_mode
    display(IPython.core.display.HTML('''<script src="/static/components/requirejs/require.js"></script>'''))
    init_notebook_mode(connected=False)

#**2013**

In [0]:
Weather_url_2013 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz

In [0]:
weather_data_2013 = pd.read_csv(Weather_url_2013)
weather_data_2013.shape

(59985, 51)

In [0]:
weather_data_2013.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201302  ...          CSV
1           201312  ...          CSV
2           201303  ...          CSV
3           201310  ...          CSV
4           201302  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2013 = weather_data_2013[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2013 = dfweather_data_2013.dropna()

In [0]:
#look at https://stackoverflow.com/questions/39684548/convert-the-string-2-90k-to-2900-or-5-2m-to-5200000-in-pandas-dataframe
DAMAGE_PROPERTY_2013 = dfweather_data_2013['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval)

In [0]:
dfweather_data_2013['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2013

# **2014**

In [0]:
Weather_url_2014 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2014_c20191116.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2014_c20191116.csv.gz

In [0]:
weather_data_2014 = pd.read_csv(Weather_url_2014)
weather_data_2014.shape

(59465, 51)

In [0]:
weather_data_2014.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201402  ...          CSV
1           201402  ...          CSV
2           201401  ...          CSV
3           201411  ...          CSV
4           201402  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2014 = weather_data_2014[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2014 = dfweather_data_2014.dropna()

In [0]:
DAMAGE_PROPERTY_2014 = dfweather_data_2014['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval)

In [0]:
dfweather_data_2014['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2014

# **2015**

In [0]:
Weather_url_2015 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2015_c20191116.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2015_c20191116.csv.gz

In [0]:
weather_data_2015 = pd.read_csv(Weather_url_2015)
weather_data_2015.shape

(57788, 51)

In [0]:
weather_data_2015.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201501  ...          CSV
1           201501  ...          CSV
2           201501  ...          CSV
3           201502  ...          CSV
4           201502  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2015 = weather_data_2015[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2015 = dfweather_data_2015.dropna()

In [0]:
DAMAGE_PROPERTY_2015 = dfweather_data_2015['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval)

In [0]:
dfweather_data_2015['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2015

# **2016**

In [0]:
Weather_url_2016 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2016_c20190817.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2016_c20190817.csv.gz

In [6]:
weather_data_2016 = pd.read_csv(Weather_url_2016)
weather_data_2016.shape

(56003, 51)

In [7]:
weather_data_2016.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201607  ...          CSV
1           201607  ...          CSV
2           201607  ...          CSV
3           201607  ...          CSV
4           201607  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2016 = weather_data_2016[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2016 = dfweather_data_2016.dropna()

In [0]:
DAMAGE_PROPERTY_2016 = dfweather_data_2016['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval)

In [0]:
dfweather_data_2016['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2016

# **2017**

# **2018**

# **2019**