In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [0]:
Weather_url = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv"

#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv

In [4]:
weather_data = pd.read_csv(Weather_url)
weather_data.shape

(51932, 58)

In [0]:
weather_data.tail()

       BEGIN_YEARMONTH  BEGIN_DAY  ...  ADDCORR_FLG  ADDCORR_DATE
51927           201310         31  ...          NaN           NaN
51928           201310         31  ...          NaN           NaN
51929           201310         31  ...          NaN           NaN
51930           201310         31  ...          NaN           NaN
51931           201310         31  ...          NaN           NaN

[5 rows x 58 columns]

In [6]:
dfweather_data = weather_data[['STATE','DAMAGE_PROPERTY']].copy()
dfweather_data

              STATE DAMAGE_PROPERTY
0           ALABAMA             NaN
1          COLORADO           0.00K
2        CALIFORNIA           0.00K
3           WYOMING           0.00K
4      SOUTH DAKOTA           0.00K
...             ...             ...
51927       INDIANA           4.00K
51928       INDIANA           1.00K
51929       INDIANA          10.00K
51930       INDIANA           0.50K
51931       INDIANA           1.50K

[51932 rows x 2 columns]

In [7]:
dfweather_data.isnull().sum().sort_values()

STATE                 0
DAMAGE_PROPERTY    7751
dtype: int64

In [8]:
dfweather_data.dtypes

STATE              object
DAMAGE_PROPERTY    object
dtype: object

In [0]:
#dropping NaN values
dfweather_data = dfweather_data.dropna()

In [0]:
test_strip = '4.00K'

In [0]:
def object_to_float(cell_contents):
  return float(cell_contents.strip('K'))

In [27]:
object_to_float(test_strip)

4.0

In [28]:
type(test_strip)

str

In [29]:
dfweather_data['DAMAGE_PROPERTY_K'] = dfweather_data['DAMAGE_PROPERTY'].apply(object_to_float)
df.head()

AttributeError: ignored