In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random


import plotly
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, plot, iplot

In [0]:
# for colab:
def enable_plotly_in_cell():
    import IPython
    from plotly.offline import init_notebook_mode
    display(IPython.core.display.HTML('''<script src="/static/components/requirejs/require.js"></script>'''))
    init_notebook_mode(connected=False)

In [153]:
pip install chart_studio

Requirement already satisfied: chart_studio in /usr/local/lib/python3.6/dist-packages (1.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from chart_studio) (2.21.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from chart_studio) (1.12.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from chart_studio) (4.4.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->chart_studio) (2.8)

In [0]:
import chart_studio
username = 'Lmstephens'
api_key = 'hY3MyX276kuG9nDgEU77'

chart_studio.tools.set_credentials_file(username=username, api_key=api_key)

import chart_studio.plotly as py
import chart_studio.tools as tls

#**2013**

In [0]:
Weather_url_2013 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz

In [129]:
weather_data_2013 = pd.read_csv(Weather_url_2013)
weather_data_2013.shape

(59985, 51)

In [130]:
weather_data_2013.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201302  ...          CSV
1           201312  ...          CSV
2           201303  ...          CSV
3           201310  ...          CSV
4           201302  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2013 = weather_data_2013[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2013 = dfweather_data_2013.dropna()

In [0]:
#look at https://stackoverflow.com/questions/39684548/convert-the-string-2-90k-to-2900-or-5-2m-to-5200000-in-pandas-dataframe
DAMAGE_PROPERTY_2013 = dfweather_data_2013['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2013['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2013

**State Totals**

In [0]:
#adds together the state totals
newdf2013 = dfweather_data_2013.groupby(['STATE'], as_index=False).sum()

In [136]:
#creates a new dataframe
df2013 = pd.DataFrame(newdf2013)
df2013.head()

            STATE  DAMAGE_PROPERTY
0         ALABAMA          8394450
1          ALASKA         30415600
2  AMERICAN SAMOA                0
3         ARIZONA        154201200
4        ARKANSAS         72299100

**Plots**

In [137]:
df2013.sort_values(by='DAMAGE_PROPERTY', ascending=False)

             STATE  DAMAGE_PROPERTY
48        OKLAHOMA       2023424300
20        ILLINOIS       1562382000
56           TEXAS       1410698000
8         COLORADO       1003891750
36     MISSISSIPPI        609917000
..             ...              ...
12       E PACIFIC                0
27   LAKE MICHIGAN                0
28   LAKE ST CLAIR                0
29   LAKE SUPERIOR                0
2   AMERICAN SAMOA                0

[65 rows x 2 columns]

In [0]:
df2013['STATE']=df2013['STATE'].str.capitalize()

In [0]:
df2013['STATE'] = df2013['STATE'].replace({'Alaska':'AK',
        'Alabama':'AL',
        'Arkansas':'AR',
        'American Samoa':'AS',
        'Arizona':'AZ',
        'California':'CA',
        'Colorado':'CO',
        'Connecticut':'CT',
        'District of columbia':'DC',
        'Delaware':'DE',
        'Florida':'FL',
        'Georgia':'GA',
        'Guam':'GU',
        'Hawaii':'HI',
        'Iowa':'IA',
        'Idaho':'ID',
         'Illinois':'IL',
        'Indiana':'IN',
        'Kansas':'KS',
        'Kentucky':'KY',
        'Louisiana':'LA',
        'Massachusetts':'MA',
        'Maryland':'MD',
        'Maine':'ME',
        'Michigan':'MI',
        'Minnesota':'MN',
        'Missouri':'MO',
        'Northern mariana islands':'MP',
        'Mississippi':'MS',
        'Montana':'MT',
        'National':'NA',
        'North carolina':'NC',
        'North dakota':'ND',
        'Nebraska':'NE',
        'New hampshire':'NH',
        'New jersey':'NJ',
        'New mexico':'NM',
        'Nevada':'NV',
        'New york':'NY',
        'Ohio':'OH',
        'Oklahoma':'OK',
        'Oregon':'OR',
        'Pennsylvania':'PA',
        'Puerto rico':'PR',
        'Rhode island':'RI',
        'South carolina':'SC',
        'South dakota':'SD',
        'Tennessee':'TN',
        'Texas':'TX',
        'Utah':'UT',
        'Virginia':'VA',
        'Virgin islands':'VI',
        'Vermont':'VT',
        'Washington':'WA',
        'Wisconsin':'WI',
        'West virginia':'WV',
        'Wyoming':'WY'}, regex=True)

In [140]:
df2013.head()

            STATE  DAMAGE_PROPERTY
0              AL          8394450
1              AK         30415600
2  American samoa                0
3              AZ        154201200
4              AR         72299100

In [0]:
mycolumn='DAMAGE_PROPERTY'
myheading1 = f"Wow! That's a lot of {mycolumn}!"
mygraphtitle = '2013 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

In [259]:

mycolumn='DAMAGE_PROPERTY'
mygraphtitle = '2013 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

fig = go.Figure(data=go.Choropleth(
    locations=df2013['STATE'], # Spatial coordinates
    z = df2013[mycolumn].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = mycolorscale,
    colorbar_title = mycolorbartitle,
))

fig.update_layout(
    title_text = mygraphtitle,
    geo_scope='usa',
    width=1200,
    height=800
)
fig.show()

In [260]:
py.plot(fig, filename = '2013 Weather Damage', auto_open=True)

'https://plot.ly/~Lmstephens/1/'

**State data totals**

In [0]:
Alabama2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ALABAMA')]
damageTotalAlabama = Alabama2013['DAMAGE_PROPERTY'].sum()
damageTotalAlabama

8394450.0

In [0]:
Alaska2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ALASKA')]
damageTotalAlaska = Alaska2013['DAMAGE_PROPERTY'].sum()

In [0]:
Arizona2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ARIZONA')]
damageTotalArizona = Arizona2013['DAMAGE_PROPERTY'].sum()

In [0]:
Arkansas2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ARKANSAS')]
damageTotalArkansas = Arkansas2013['DAMAGE_PROPERTY'].sum()

In [0]:
Texas2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('TEXAS')]
damageTotalTexas = Texas2013['DAMAGE_PROPERTY'].sum()

# **2014**

In [0]:
Weather_url_2014 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2014_c20191116.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2014_c20191116.csv.gz

In [156]:
weather_data_2014 = pd.read_csv(Weather_url_2014)
weather_data_2014.shape

(59465, 51)

In [157]:
weather_data_2014.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201402  ...          CSV
1           201402  ...          CSV
2           201401  ...          CSV
3           201411  ...          CSV
4           201402  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2014 = weather_data_2014[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2014 = dfweather_data_2014.dropna()

In [0]:
DAMAGE_PROPERTY_2014 = dfweather_data_2014['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2014['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2014

**State Totals**

In [0]:
#adds together the state totals
newdf2014 = dfweather_data_2014.groupby(['STATE'], as_index=False).sum()

In [163]:
#creates a new dataframe
df2014 = pd.DataFrame(newdf2014)
df2014.head()

            STATE  DAMAGE_PROPERTY
0         ALABAMA         38215160
1          ALASKA          1471000
2  AMERICAN SAMOA                0
3         ARIZONA         28046500
4        ARKANSAS        266334400

**Plots**

In [164]:
df2014.sort_values(by='DAMAGE_PROPERTY', ascending=False)

             STATE  DAMAGE_PROPERTY
34        MICHIGAN       1881374000
56           TEXAS       1026154650
61      WASHINGTON        328164500
4         ARKANSAS        266334400
20        ILLINOIS        255703000
..             ...              ...
12       E PACIFIC                0
28   LAKE ST CLAIR                0
59  VIRGIN ISLANDS                0
25       LAKE ERIE                0
2   AMERICAN SAMOA                0

[65 rows x 2 columns]

In [0]:
df2014['STATE']=df2014['STATE'].str.capitalize()

In [0]:
df2014['STATE'] = df2014['STATE'].replace({'Alaska':'AK',
        'Alabama':'AL',
        'Arkansas':'AR',
        'American Samoa':'AS',
        'Arizona':'AZ',
        'California':'CA',
        'Colorado':'CO',
        'Connecticut':'CT',
        'District of columbia':'DC',
        'Delaware':'DE',
        'Florida':'FL',
        'Georgia':'GA',
        'Guam':'GU',
        'Hawaii':'HI',
        'Iowa':'IA',
        'Idaho':'ID',
         'Illinois':'IL',
        'Indiana':'IN',
        'Kansas':'KS',
        'Kentucky':'KY',
        'Louisiana':'LA',
        'Massachusetts':'MA',
        'Maryland':'MD',
        'Maine':'ME',
        'Michigan':'MI',
        'Minnesota':'MN',
        'Missouri':'MO',
        'Northern mariana islands':'MP',
        'Mississippi':'MS',
        'Montana':'MT',
        'National':'NA',
        'North carolina':'NC',
        'North dakota':'ND',
        'Nebraska':'NE',
        'New hampshire':'NH',
        'New jersey':'NJ',
        'New mexico':'NM',
        'Nevada':'NV',
        'New york':'NY',
        'Ohio':'OH',
        'Oklahoma':'OK',
        'Oregon':'OR',
        'Pennsylvania':'PA',
        'Puerto rico':'PR',
        'Rhode island':'RI',
        'South carolina':'SC',
        'South dakota':'SD',
        'Tennessee':'TN',
        'Texas':'TX',
        'Utah':'UT',
        'Virginia':'VA',
        'Virgin islands':'VI',
        'Vermont':'VT',
        'Washington':'WA',
        'Wisconsin':'WI',
        'West virginia':'WV',
        'Wyoming':'WY'}, regex=True)

In [167]:
df2014.head()

            STATE  DAMAGE_PROPERTY
0              AL         38215160
1              AK          1471000
2  American samoa                0
3              AZ         28046500
4              AR        266334400

In [0]:
mycolumn='DAMAGE_PROPERTY'
myheading1 = f"Wow! That's a lot of {mycolumn}!"
mygraphtitle = '2014 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

In [170]:
fig = go.Figure(data=go.Choropleth(
    locations=df2014['STATE'], # Spatial coordinates
    z = df2014[mycolumn].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = mycolorscale,
    colorbar_title = mycolorbartitle,
))

fig.update_layout(
    title_text = mygraphtitle,
    geo_scope='usa',
    width=1200,
    height=800
)
fig.show()

In [171]:
py.plot(fig, filename = '2014 Weather Damage', auto_open=True)

'https://plot.ly/~Lmstephens/3/'

# **2015**

In [0]:
Weather_url_2015 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2015_c20191116.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2015_c20191116.csv.gz

In [173]:
weather_data_2015 = pd.read_csv(Weather_url_2015)
weather_data_2015.shape

(57788, 51)

In [174]:
weather_data_2015.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201501  ...          CSV
1           201501  ...          CSV
2           201501  ...          CSV
3           201502  ...          CSV
4           201502  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2015 = weather_data_2015[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2015 = dfweather_data_2015.dropna()

In [0]:
DAMAGE_PROPERTY_2015 = dfweather_data_2015['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2015['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2015

**State Totals**

In [0]:
#adds together the state totals
newdf2015 = dfweather_data_2015.groupby(['STATE'], as_index=False).sum()

In [180]:
#creates a new dataframe
df2015 = pd.DataFrame(newdf2015)
df2015.head()

            STATE  DAMAGE_PROPERTY
0         ALABAMA         14794500
1          ALASKA         26703800
2  AMERICAN SAMOA         13000000
3         ARIZONA         10740500
4        ARKANSAS         18253000

In [181]:
df2015.sort_values(by='DAMAGE_PROPERTY', ascending=False)

             STATE  DAMAGE_PROPERTY
57           TEXAS       2143740069
44      NEW MEXICO        410924700
38        MISSOURI        323680000
40        NEBRASKA        235079799
54  SOUTH CAROLINA        153771870
..             ...              ...
25       LAKE ERIE                0
60  VIRGIN ISLANDS                0
29   LAKE ST CLAIR                0
30   LAKE SUPERIOR                0
18   HAWAII WATERS                0

[66 rows x 2 columns]

In [0]:
df2015['STATE']=df2015['STATE'].str.capitalize()

In [0]:
df2015['STATE'] = df2015['STATE'].replace({'Alaska':'AK',
        'Alabama':'AL',
        'Arkansas':'AR',
        'American Samoa':'AS',
        'Arizona':'AZ',
        'California':'CA',
        'Colorado':'CO',
        'Connecticut':'CT',
        'District of columbia':'DC',
        'Delaware':'DE',
        'Florida':'FL',
        'Georgia':'GA',
        'Guam':'GU',
        'Hawaii':'HI',
        'Iowa':'IA',
        'Idaho':'ID',
         'Illinois':'IL',
        'Indiana':'IN',
        'Kansas':'KS',
        'Kentucky':'KY',
        'Louisiana':'LA',
        'Massachusetts':'MA',
        'Maryland':'MD',
        'Maine':'ME',
        'Michigan':'MI',
        'Minnesota':'MN',
        'Missouri':'MO',
        'Northern mariana islands':'MP',
        'Mississippi':'MS',
        'Montana':'MT',
        'National':'NA',
        'North carolina':'NC',
        'North dakota':'ND',
        'Nebraska':'NE',
        'New hampshire':'NH',
        'New jersey':'NJ',
        'New mexico':'NM',
        'Nevada':'NV',
        'New york':'NY',
        'Ohio':'OH',
        'Oklahoma':'OK',
        'Oregon':'OR',
        'Pennsylvania':'PA',
        'Puerto rico':'PR',
        'Rhode island':'RI',
        'South carolina':'SC',
        'South dakota':'SD',
        'Tennessee':'TN',
        'Texas':'TX',
        'Utah':'UT',
        'Virginia':'VA',
        'Virgin islands':'VI',
        'Vermont':'VT',
        'Washington':'WA',
        'Wisconsin':'WI',
        'West virginia':'WV',
        'Wyoming':'WY'}, regex=True)

In [184]:
df2015.head()

            STATE  DAMAGE_PROPERTY
0              AL         14794500
1              AK         26703800
2  American samoa         13000000
3              AZ         10740500
4              AR         18253000

In [0]:
mycolumn='DAMAGE_PROPERTY'
myheading1 = f"Wow! That's a lot of {mycolumn}!"
mygraphtitle = '2015 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

In [186]:
fig = go.Figure(data=go.Choropleth(
    locations=df2015['STATE'], # Spatial coordinates
    z = df2015[mycolumn].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = mycolorscale,
    colorbar_title = mycolorbartitle,
))

fig.update_layout(
    title_text = mygraphtitle,
    geo_scope='usa',
    width=1200,
    height=800
)
fig.show()

In [188]:
py.plot(fig, filename = '2015 Weather Damage', auto_open=True)

'https://plot.ly/~Lmstephens/6/'

# **2016**

In [0]:
Weather_url_2016 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2016_c20190817.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2016_c20190817.csv.gz

In [190]:
weather_data_2016 = pd.read_csv(Weather_url_2016)
weather_data_2016.shape

(56003, 51)

In [191]:
weather_data_2016.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201607  ...          CSV
1           201607  ...          CSV
2           201607  ...          CSV
3           201607  ...          CSV
4           201607  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2016 = weather_data_2016[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2016 = dfweather_data_2016.dropna()

In [0]:
DAMAGE_PROPERTY_2016 = dfweather_data_2016['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2016['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2016

**State Totals**

In [0]:
#adds together the state totals
newdf2016 = dfweather_data_2016.groupby(['STATE'], as_index=False).sum()

In [197]:
#creates a new dataframe
df2016 = pd.DataFrame(newdf2016)
df2016.head()

            STATE  DAMAGE_PROPERTY
0         ALABAMA          4307700
1          ALASKA           203000
2  AMERICAN SAMOA                0
3         ARIZONA          6297000
4        ARKANSAS         13382800

**Plots**

In [198]:
df2016.sort_values(by='DAMAGE_PROPERTY', ascending=False)

                   STATE  DAMAGE_PROPERTY
30             LOUISIANA       9205589800
56                 TEXAS       3610540800
13               FLORIDA       3132700150
45        NORTH CAROLINA        832141298
53        SOUTH CAROLINA        253066400
..                   ...              ...
12             E PACIFIC                0
28         LAKE ST CLAIR                0
18         HAWAII WATERS                0
27         LAKE MICHIGAN                0
11  DISTRICT OF COLUMBIA                0

[65 rows x 2 columns]

In [0]:
df2016['STATE']=df2016['STATE'].str.capitalize()

In [0]:
df2016['STATE'] = df2016['STATE'].replace({'Alaska':'AK',
        'Alabama':'AL',
        'Arkansas':'AR',
        'American Samoa':'AS',
        'Arizona':'AZ',
        'California':'CA',
        'Colorado':'CO',
        'Connecticut':'CT',
        'District of columbia':'DC',
        'Delaware':'DE',
        'Florida':'FL',
        'Georgia':'GA',
        'Guam':'GU',
        'Hawaii':'HI',
        'Iowa':'IA',
        'Idaho':'ID',
         'Illinois':'IL',
        'Indiana':'IN',
        'Kansas':'KS',
        'Kentucky':'KY',
        'Louisiana':'LA',
        'Massachusetts':'MA',
        'Maryland':'MD',
        'Maine':'ME',
        'Michigan':'MI',
        'Minnesota':'MN',
        'Missouri':'MO',
        'Northern mariana islands':'MP',
        'Mississippi':'MS',
        'Montana':'MT',
        'National':'NA',
        'North carolina':'NC',
        'North dakota':'ND',
        'Nebraska':'NE',
        'New hampshire':'NH',
        'New jersey':'NJ',
        'New mexico':'NM',
        'Nevada':'NV',
        'New york':'NY',
        'Ohio':'OH',
        'Oklahoma':'OK',
        'Oregon':'OR',
        'Pennsylvania':'PA',
        'Puerto rico':'PR',
        'Rhode island':'RI',
        'South carolina':'SC',
        'South dakota':'SD',
        'Tennessee':'TN',
        'Texas':'TX',
        'Utah':'UT',
        'Virginia':'VA',
        'Virgin islands':'VI',
        'Vermont':'VT',
        'Washington':'WA',
        'Wisconsin':'WI',
        'West virginia':'WV',
        'Wyoming':'WY'}, regex=True)

In [201]:
df2016.head()

            STATE  DAMAGE_PROPERTY
0              AL          4307700
1              AK           203000
2  American samoa                0
3              AZ          6297000
4              AR         13382800

In [0]:
mycolumn='DAMAGE_PROPERTY'
myheading1 = f"Wow! That's a lot of {mycolumn}!"
mygraphtitle = '2016 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

In [203]:
fig = go.Figure(data=go.Choropleth(
    locations=df2016['STATE'], # Spatial coordinates
    z = df2016[mycolumn].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = mycolorscale,
    colorbar_title = mycolorbartitle,
))

fig.update_layout(
    title_text = mygraphtitle,
    geo_scope='usa',
    width=1200,
    height=800
)
fig.show()

In [204]:
py.plot(fig, filename = '2016 Weather Damage', auto_open=True)

'https://plot.ly/~Lmstephens/8/'

# **2017**

In [0]:
Weather_url_2017 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2017_c20200121.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2017_c20200121.csv.gz

In [206]:
weather_data_2017 = pd.read_csv(Weather_url_2017)
weather_data_2017.shape

(57024, 51)

In [207]:
weather_data_2017.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201704  ...          CSV
1           201704  ...          CSV
2           201704  ...          CSV
3           201704  ...          CSV
4           201704  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2017 = weather_data_2017[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2017 = dfweather_data_2017.dropna()

In [0]:
DAMAGE_PROPERTY_2017 = dfweather_data_2017['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2017['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2017

**State Totals**

In [0]:
#adds together the state totals
newdf2017 = dfweather_data_2017.groupby(['STATE'], as_index=False).sum()

In [213]:
#creates a new dataframe
df2017 = pd.DataFrame(newdf2017)
df2017.head()

            STATE  DAMAGE_PROPERTY
0         ALABAMA         31592800
1          ALASKA          6525000
2  AMERICAN SAMOA           447000
3         ARIZONA         11700300
4        ARKANSAS         37586000

**Plots**

In [214]:
df2017.sort_values(by='DAMAGE_PROPERTY', ascending=False)

            STATE  DAMAGE_PROPERTY
56          TEXAS      51536934600
51    PUERTO RICO      19028218000
13        FLORIDA       3922582960
8        COLORADO       2327483300
7      CALIFORNIA        866948550
..            ...              ...
27  LAKE MICHIGAN                0
18  HAWAII WATERS                0
25      LAKE ERIE                0
26     LAKE HURON                0
28  LAKE ST CLAIR                0

[65 rows x 2 columns]

In [0]:
df2017['STATE']=df2017['STATE'].str.capitalize()

In [0]:
df2017['STATE'] = df2017['STATE'].replace({'Alaska':'AK',
        'Alabama':'AL',
        'Arkansas':'AR',
        'American Samoa':'AS',
        'Arizona':'AZ',
        'California':'CA',
        'Colorado':'CO',
        'Connecticut':'CT',
        'District of columbia':'DC',
        'Delaware':'DE',
        'Florida':'FL',
        'Georgia':'GA',
        'Guam':'GU',
        'Hawaii':'HI',
        'Iowa':'IA',
        'Idaho':'ID',
         'Illinois':'IL',
        'Indiana':'IN',
        'Kansas':'KS',
        'Kentucky':'KY',
        'Louisiana':'LA',
        'Massachusetts':'MA',
        'Maryland':'MD',
        'Maine':'ME',
        'Michigan':'MI',
        'Minnesota':'MN',
        'Missouri':'MO',
        'Northern mariana islands':'MP',
        'Mississippi':'MS',
        'Montana':'MT',
        'National':'NA',
        'North carolina':'NC',
        'North dakota':'ND',
        'Nebraska':'NE',
        'New hampshire':'NH',
        'New jersey':'NJ',
        'New mexico':'NM',
        'Nevada':'NV',
        'New york':'NY',
        'Ohio':'OH',
        'Oklahoma':'OK',
        'Oregon':'OR',
        'Pennsylvania':'PA',
        'Puerto rico':'PR',
        'Rhode island':'RI',
        'South carolina':'SC',
        'South dakota':'SD',
        'Tennessee':'TN',
        'Texas':'TX',
        'Utah':'UT',
        'Virginia':'VA',
        'Virgin islands':'VI',
        'Vermont':'VT',
        'Washington':'WA',
        'Wisconsin':'WI',
        'West virginia':'WV',
        'Wyoming':'WY'}, regex=True)

In [217]:
df2017.head()

            STATE  DAMAGE_PROPERTY
0              AL         31592800
1              AK          6525000
2  American samoa           447000
3              AZ         11700300
4              AR         37586000

In [0]:
mycolumn='DAMAGE_PROPERTY'
myheading1 = f"Wow! That's a lot of {mycolumn}!"
mygraphtitle = '2017 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

In [219]:
fig = go.Figure(data=go.Choropleth(
    locations=df2017['STATE'], # Spatial coordinates
    z = df2017[mycolumn].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = mycolorscale,
    colorbar_title = mycolorbartitle,
))

fig.update_layout(
    title_text = mygraphtitle,
    geo_scope='usa',
    width=1200,
    height=800
)
fig.show()

In [220]:
py.plot(fig, filename = '2017 Weather Damage', auto_open=True)

'https://plot.ly/~Lmstephens/10/'

# **2018**

In [0]:
Weather_url_2018 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2018_c20200219.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2018_c20200219.csv.gz

In [222]:
weather_data_2018 = pd.read_csv(Weather_url_2018)
weather_data_2018.shape

(62675, 51)

In [223]:
weather_data_2018.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201806  ...          CSV
1           201806  ...          CSV
2           201806  ...          CSV
3           201806  ...          CSV
4           201806  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2018 = weather_data_2018[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2018 = dfweather_data_2018.dropna()

In [0]:
DAMAGE_PROPERTY_2018 = dfweather_data_2018['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2018['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2018

In [228]:
Texas2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('TEXAS')]
Texas2018['DAMAGE_PROPERTY'].sum()

338081250

**State Totals**

In [0]:
#adds together the state totals
newdf2018 = dfweather_data_2018.groupby(['STATE'], as_index=False).sum()

In [230]:
#creates a new dataframe
df2018 = pd.DataFrame(newdf2018)
df2018.head()

            STATE  DAMAGE_PROPERTY
0         ALABAMA          8340450
1          ALASKA          3589000
2  AMERICAN SAMOA         50137000
3         ARIZONA         67453000
4        ARKANSAS         19823000

In [231]:
print(df2018[df2018['STATE'].str.match('TEXAS')])

    STATE  DAMAGE_PROPERTY
58  TEXAS        338081250

**Plots**

In [232]:
df2018.sort_values(by='DAMAGE_PROPERTY', ascending=True)

             STATE  DAMAGE_PROPERTY
25       LAKE ERIE                0
18   HAWAII WATERS                0
61  VIRGIN ISLANDS                0
6   ATLANTIC SOUTH                0
56   ST LAWRENCE R                0
..             ...              ...
8         COLORADO        669220000
14         GEORGIA       1545984010
46  NORTH CAROLINA       2024526458
13         FLORIDA       4209301160
7       CALIFORNIA      19235667900

[67 rows x 2 columns]

In [0]:
df2018['STATE']=df2018['STATE'].str.capitalize()

In [0]:
df2018['STATE'] = df2018['STATE'].replace({'Alaska':'AK',
        'Alabama':'AL',
        'Arkansas':'AR',
        'American Samoa':'AS',
        'Arizona':'AZ',
        'California':'CA',
        'Colorado':'CO',
        'Connecticut':'CT',
        'District of columbia':'DC',
        'Delaware':'DE',
        'Florida':'FL',
        'Georgia':'GA',
        'Guam':'GU',
        'Hawaii':'HI',
        'Iowa':'IA',
        'Idaho':'ID',
         'Illinois':'IL',
        'Indiana':'IN',
        'Kansas':'KS',
        'Kentucky':'KY',
        'Louisiana':'LA',
        'Massachusetts':'MA',
        'Maryland':'MD',
        'Maine':'ME',
        'Michigan':'MI',
        'Minnesota':'MN',
        'Missouri':'MO',
        'Northern mariana islands':'MP',
        'Mississippi':'MS',
        'Montana':'MT',
        'National':'NA',
        'North carolina':'NC',
        'North dakota':'ND',
        'Nebraska':'NE',
        'New hampshire':'NH',
        'New jersey':'NJ',
        'New mexico':'NM',
        'Nevada':'NV',
        'New york':'NY',
        'Ohio':'OH',
        'Oklahoma':'OK',
        'Oregon':'OR',
        'Pennsylvania':'PA',
        'Puerto rico':'PR',
        'Rhode island':'RI',
        'South carolina':'SC',
        'South dakota':'SD',
        'Tennessee':'TN',
        'Texas':'TX',
        'Utah':'UT',
        'Virginia':'VA',
        'Virgin islands':'VI',
        'Vermont':'VT',
        'Washington':'WA',
        'Wisconsin':'WI',
        'West virginia':'WV',
        'Wyoming':'WY'}, regex=True)

In [235]:
df2018.head()

            STATE  DAMAGE_PROPERTY
0              AL          8340450
1              AK          3589000
2  American samoa         50137000
3              AZ         67453000
4              AR         19823000

In [236]:
print(df2018[df2018['STATE'].str.match('TX')])

   STATE  DAMAGE_PROPERTY
58    TX        338081250

In [0]:
mycolumn='DAMAGE_PROPERTY'
myheading1 = f"Wow! That's a lot of {mycolumn}!"
mygraphtitle = '2018 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

In [238]:
fig = go.Figure(data=go.Choropleth(
    locations=df2018['STATE'], # Spatial coordinates
    z = df2018[mycolumn].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = mycolorscale,
    colorbar_title = mycolorbartitle,
))

fig.update_layout(
    title_text = mygraphtitle,
    geo_scope='usa',
    width=1200,
    height=800
)
fig.show()

In [241]:
py.plot(fig, filename = '2018 Weather Damage', auto_open=True)

'https://plot.ly/~Lmstephens/13/'

# **2019**

In [0]:
Weather_url_2019 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2019_c20200219.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2019_c20200219.csv.gz

In [243]:
weather_data_2019 = pd.read_csv(Weather_url_2019)
weather_data_2019.shape

(64439, 51)

In [244]:
weather_data_2019.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201905  ...          CSV
1           201907  ...          CSV
2           201910  ...          CSV
3           201910  ...          CSV
4           201910  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2019 = weather_data_2019[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2019 = dfweather_data_2019.dropna()

In [0]:
DAMAGE_PROPERTY_2019 = dfweather_data_2019['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2019['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2019

**State Totals**

In [0]:
#adds together the state totals
newdf2019 = dfweather_data_2019.groupby(['STATE'], as_index=False).sum()

In [250]:
#creates a new dataframe
df2019 = pd.DataFrame(newdf2019)
df2019.head()

            STATE  DAMAGE_PROPERTY
0         ALABAMA           940000
1          ALASKA          7333000
2  AMERICAN SAMOA            45000
3         ARIZONA         15052500
4        ARKANSAS         24698500

**Plots**

In [251]:
df2019.sort_values(by='DAMAGE_PROPERTY', ascending=False)

            STATE  DAMAGE_PROPERTY
56          TEXAS       3093746900
47           OHIO        690880900
39       NEBRASKA        640944500
37       MISSOURI        222409500
34       MICHIGAN        202851000
..            ...              ...
28  LAKE ST CLAIR                0
27   LAKE ONTARIO                0
12      E PACIFIC                0
17  HAWAII WATERS                0
10       DELAWARE                0

[65 rows x 2 columns]

In [0]:
df2019['STATE']=df2019['STATE'].str.capitalize()

In [0]:
df2019['STATE'] = df2019['STATE'].replace({'Alaska':'AK',
        'Alabama':'AL',
        'Arkansas':'AR',
        'American Samoa':'AS',
        'Arizona':'AZ',
        'California':'CA',
        'Colorado':'CO',
        'Connecticut':'CT',
        'District of columbia':'DC',
        'Delaware':'DE',
        'Florida':'FL',
        'Georgia':'GA',
        'Guam':'GU',
        'Hawaii':'HI',
        'Iowa':'IA',
        'Idaho':'ID',
         'Illinois':'IL',
        'Indiana':'IN',
        'Kansas':'KS',
        'Kentucky':'KY',
        'Louisiana':'LA',
        'Massachusetts':'MA',
        'Maryland':'MD',
        'Maine':'ME',
        'Michigan':'MI',
        'Minnesota':'MN',
        'Missouri':'MO',
        'Northern mariana islands':'MP',
        'Mississippi':'MS',
        'Montana':'MT',
        'National':'NA',
        'North carolina':'NC',
        'North dakota':'ND',
        'Nebraska':'NE',
        'New hampshire':'NH',
        'New jersey':'NJ',
        'New mexico':'NM',
        'Nevada':'NV',
        'New york':'NY',
        'Ohio':'OH',
        'Oklahoma':'OK',
        'Oregon':'OR',
        'Pennsylvania':'PA',
        'Puerto rico':'PR',
        'Rhode island':'RI',
        'South carolina':'SC',
        'South dakota':'SD',
        'Tennessee':'TN',
        'Texas':'TX',
        'Utah':'UT',
        'Virginia':'VA',
        'Virgin islands':'VI',
        'Vermont':'VT',
        'Washington':'WA',
        'Wisconsin':'WI',
        'West virginia':'WV',
        'Wyoming':'WY'}, regex=True)

In [254]:
df2019.head()

            STATE  DAMAGE_PROPERTY
0              AL           940000
1              AK          7333000
2  American samoa            45000
3              AZ         15052500
4              AR         24698500

In [0]:
mycolumn='DAMAGE_PROPERTY'
myheading1 = f"Wow! That's a lot of {mycolumn}!"
mygraphtitle = '2019 US Storm Damage Cost by State'
mycolorscale = 'Oranges' # Note: The error message will list possible color scales.
mycolorbartitle = "USD Currency"

In [256]:
fig = go.Figure(data=go.Choropleth(
    locations=df2019['STATE'], # Spatial coordinates
    z = df2019[mycolumn].astype(float), # Data to be color-coded
    locationmode = 'USA-states', # set of locations match entries in `locations`
    colorscale = mycolorscale,
    colorbar_title = mycolorbartitle,
))

fig.update_layout(
    title_text = mygraphtitle,
    geo_scope='usa',
    width=1200,
    height=800
)
fig.show()

In [257]:
py.plot(fig, filename = '2019 Weather Damage', auto_open=True)

'https://plot.ly/~Lmstephens/15/'

# **Comparing years together**

**Top 10 states with the most damage every year**

In [277]:
sort2019= df2019.sort_values(by='DAMAGE_PROPERTY', ascending=False)
sort2019.head(10)

   STATE  DAMAGE_PROPERTY
56    TX       3093746900
47    OH        690880900
39    NE        640944500
37    MO        222409500
34    MI        202851000
30    LA        161002000
45    NC        149241600
7     CA        142177100
54    SD        124524949
55    TN        122562330

In [265]:
sort2018= df2018.sort_values(by='DAMAGE_PROPERTY', ascending=False)
sort2018.head(10)

   STATE  DAMAGE_PROPERTY
7     CA      19235667900
13    FL       4209301160
46    NC       2024526458
14    GA       1545984010
8     CO        669220000
22    IA        346347000
58    TX        338081250
35    MI        201517500
65    WI        181952659
20    IL        143710000

In [276]:
sort2017= df2017.sort_values(by='DAMAGE_PROPERTY', ascending=False)
sort2017.head(10)

   STATE  DAMAGE_PROPERTY
56    TX      51536934600
51    PR      19028218000
13    FL       3922582960
8     CO       2327483300
7     CA        866948550
34    MI        721006000
14    GA        449186129
19    ID        171094200
37    MO        155729000
48    OK        130013000

In [275]:
sort2016= df2016.sort_values(by='DAMAGE_PROPERTY', ascending=False)
sort2016.head(10)

   STATE  DAMAGE_PROPERTY
30    LA       9205589800
56    TX       3610540800
13    FL       3132700150
45    NC        832141298
53    SC        253066400
62    WV        172536500
60    VA         94466600
46    ND         87141500
40    NV         81087500
7     CA         74157510

In [274]:
sort2015= df2015.sort_values(by='DAMAGE_PROPERTY', ascending=False)
sort2015.head(10)

   STATE  DAMAGE_PROPERTY
57    TX       2143740069
44    NM        410924700
38    MO        323680000
40    NE        235079799
54    SC        153771870
49    OK        122719900
7     CA        108526400
22    IA         94875500
35    MI         79924000
56    TN         78686250

In [273]:
sort2014= df2014.sort_values(by='DAMAGE_PROPERTY', ascending=False)
sort2014.head(10)

   STATE  DAMAGE_PROPERTY
34    MI       1881374000
56    TX       1026154650
61    WA        328164500
4     AR        266334400
20    IL        255703000
8     CO        215290800
36    MS        212068580
13    FL        210238290
7     CA        126831500
39    NE        109957000

In [272]:
sort2013= df2013.sort_values(by='DAMAGE_PROPERTY', ascending=False)
sort2013.head(10)

   STATE  DAMAGE_PROPERTY
48    OK       2023424300
20    IL       1562382000
56    TX       1410698000
8     CO       1003891750
36    MS        609917000
30    LA        268151300
34    MI        197171500
3     AZ        154201200
54    SD        153441500
14    GA        151231220

**Totals of the years**

In [0]:
TotalDamage2019 = df2019['DAMAGE_PROPERTY'].sum()

In [0]:
TotalDamage2018 = df2018['DAMAGE_PROPERTY'].sum()

In [0]:
TotalDamage2017 = df2017['DAMAGE_PROPERTY'].sum()

In [0]:
TotalDamage2016 = df2016['DAMAGE_PROPERTY'].sum()

In [0]:
TotalDamage2015 = df2015['DAMAGE_PROPERTY'].sum()

In [0]:
TotalDamage2014 = df2014['DAMAGE_PROPERTY'].sum()

In [0]:
TotalDamage2013 = df2013['DAMAGE_PROPERTY'].sum()

In [316]:
d = {'year':['2019','2018','2017','2016','2015','2014','2013'], 'totals': [TotalDamage2019,TotalDamage2018,TotalDamage2017,TotalDamage2016,TotalDamage2015,TotalDamage2014,TotalDamage2013]}
dfTotals = pd.DataFrame(data=d)
dfTotals

   year       totals
0  2019   6202923198
1  2018  29908586095
2  2017  80414491929
3  2016  18224007427
4  2015   4447678887
5  2014   5512720389
6  2013   8818388050

In [317]:
dfTotals.sort_values(by='totals', ascending=False)

   year       totals
2  2017  80414491929
1  2018  29908586095
3  2016  18224007427
6  2013   8818388050
0  2019   6202923198
5  2014   5512720389
4  2015   4447678887

In [323]:
fig = go.Figure(
    data=[go.Bar(y=dfTotals['totals'], x=dfTotals['year'])],
    layout_title_text="A Figure Displayed with the 'png' Renderer"
)
fig.show()

# **Helper code**

In [0]:
#indivually calculates the sum for a state if you want to double check to make sure an idivual state has the right numbers
Texas2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('TEXAS')]
Texas2018['DAMAGE_PROPERTY'].sum()

338081250

In [0]:
Texas2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('TEXAS')]
damageTotalTexas = Texas2018['DAMAGE_PROPERTY'].sum()

In [0]:
Alabama2019 = dfweather_data_2019[dfweather_data_2019['STATE'].str.match('ALABAMA')]
Alabama2019['DAMAGE_PROPERTY'].sum()

940000

In [0]:
Alabama2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('ALABAMA')]
damageTotalAlabama = Alabama2018['DAMAGE_PROPERTY'].sum()

In [0]:
VERMONT2019 = dfweather_data_2019[dfweather_data_2019['STATE'].str.match('VERMONT')]
VERMONT2019['DAMAGE_PROPERTY'].sum()

9050000

In [0]:
VERMONT2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('VERMONT')]
damageTotalVermont = VERMONT2018['DAMAGE_PROPERTY'].sum()

In [0]:
#adding results into a dataframe
new2018df = {'State':['Vermont', 'Alabama', 'Texas'], 'Damage(USD)':[damageTotalVermont, damageTotalAlabama, damageTotalTexas]}
df = pd.DataFrame(new2018df)
df

     State  Damage(USD)
0  Vermont      5054000
1  Alabama      8340450
2    Texas    338081250

In [0]:
def sort_states(StateData, DamageData):
  Texas = StateData.str.match('TEXAS')
  Alabama = StateData.str.match('ALABAMA')
  if StateData == Texas:
    print(DamageData.sum())
  elif StateData == Alabama:
    print(DamageData.sum())
  else:
    print("not applicable")
  
  return

In [0]:
StateData = dfweather_data_2018['STATE']
DamageData = dfweather_data_2018['DAMAGE_PROPERTY']
sort_states(StateData, DamageData)

ValueError: ignored

In [0]:
dfweather_data_2019.sort_values('STATE',ascending=True)
dfweather_data_2019.head(20)

             STATE  DAMAGE_PROPERTY
0            TEXAS                0
1        MINNESOTA                0
2            TEXAS                0
3            TEXAS                0
4            TEXAS                0
5            TEXAS         10000000
6          VERMONT                0
7         NEW YORK             5000
8   ATLANTIC SOUTH                0
9   ATLANTIC SOUTH                0
10  ATLANTIC SOUTH                0
11         FLORIDA                0
13        ARKANSAS                0
14        ARKANSAS                0
15  ATLANTIC SOUTH                0
16  ATLANTIC SOUTH                0
17  GULF OF MEXICO                0
18  GULF OF MEXICO                0
19  GULF OF MEXICO                0
20         MONTANA                0

In [0]:
dfweather_data_2019.sort_values('DAMAGE_PROPERTY',ascending=False)

          STATE  DAMAGE_PROPERTY
27816     TEXAS       1551000000
41630      OHIO        500000000
33205  NEBRASKA        420000000
2053      TEXAS        400000000
31420     TEXAS        300000000
...         ...              ...
24215  ILLINOIS                0
24216  ILLINOIS                0
24217  ILLINOIS                0
24218  ILLINOIS                0
64438    ALASKA                0

[52112 rows x 2 columns]