In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random


import plotly
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, plot, iplot

In [0]:
# for colab:
def enable_plotly_in_cell():
    import IPython
    from plotly.offline import init_notebook_mode
    display(IPython.core.display.HTML('''<script src="/static/components/requirejs/require.js"></script>'''))
    init_notebook_mode(connected=False)

#**2013**

In [0]:
Weather_url_2013 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2013_c20170519.csv.gz

In [229]:
weather_data_2013 = pd.read_csv(Weather_url_2013)
weather_data_2013.shape

(59985, 51)

In [230]:
weather_data_2013.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201302  ...          CSV
1           201312  ...          CSV
2           201303  ...          CSV
3           201310  ...          CSV
4           201302  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2013 = weather_data_2013[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2013 = dfweather_data_2013.dropna()

In [0]:
#look at https://stackoverflow.com/questions/39684548/convert-the-string-2-90k-to-2900-or-5-2m-to-5200000-in-pandas-dataframe
DAMAGE_PROPERTY_2013 = dfweather_data_2013['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval)

In [0]:
dfweather_data_2013['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2013

In [236]:
#adds together the state totals
dfweather_data_2013.groupby(['STATE']).sum()

                DAMAGE_PROPERTY
STATE
ALABAMA               8394450.0
ALASKA               30415600.0
AMERICAN SAMOA              0.0
ARIZONA             154201200.0
ARKANSAS             72299100.0
...                         ...
VIRGINIA              7510250.0
WASHINGTON           12839030.0
WEST VIRGINIA         9586250.0
WISCONSIN            47620600.0
WYOMING              18609000.0

[65 rows x 1 columns]

**State data totals**

In [0]:
Alabama2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ALABAMA')]
damageTotalAlabama = Alabama2013['DAMAGE_PROPERTY'].sum()
damageTotalAlabama

8394450.0

In [0]:
Alaska2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ALASKA')]
damageTotalAlaska = Alaska2013['DAMAGE_PROPERTY'].sum()

In [0]:
Arizona2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ARIZONA')]
damageTotalArizona = Arizona2013['DAMAGE_PROPERTY'].sum()

In [0]:
Arkansas2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('ARKANSAS')]
damageTotalArkansas = Arkansas2013['DAMAGE_PROPERTY'].sum()

In [0]:
Texas2013 = dfweather_data_2013[dfweather_data_2013['STATE'].str.match('TEXAS')]
damageTotalTexas = Texas2013['DAMAGE_PROPERTY'].sum()

In [0]:
#adding results into a dataframe
new2013df = {'State':['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Georgia','Texas'], 
             'Damage(USD)':[damageTotalAlabama, damageTotalAlaska, damageTotalArizona, damageTotalArkansas]}
df = pd.DataFrame(new2018df)
df

     State  Damage(USD)
0  Vermont      5054000
1  Alabama      8340450
2    Texas    338081250

# **2014**

In [0]:
Weather_url_2014 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2014_c20191116.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2014_c20191116.csv.gz

In [0]:
weather_data_2014 = pd.read_csv(Weather_url_2014)
weather_data_2014.shape

(59465, 51)

In [0]:
weather_data_2014.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201402  ...          CSV
1           201402  ...          CSV
2           201401  ...          CSV
3           201411  ...          CSV
4           201402  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2014 = weather_data_2014[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2014 = dfweather_data_2014.dropna()

In [0]:
DAMAGE_PROPERTY_2014 = dfweather_data_2014['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2014['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2014

# **2015**

In [0]:
Weather_url_2015 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2015_c20191116.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2015_c20191116.csv.gz

In [0]:
weather_data_2015 = pd.read_csv(Weather_url_2015)
weather_data_2015.shape

(57788, 51)

In [0]:
weather_data_2015.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201501  ...          CSV
1           201501  ...          CSV
2           201501  ...          CSV
3           201502  ...          CSV
4           201502  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2015 = weather_data_2015[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2015 = dfweather_data_2015.dropna()

In [0]:
DAMAGE_PROPERTY_2015 = dfweather_data_2015['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2015['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2015

# **2016**

In [0]:
Weather_url_2016 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2016_c20190817.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2016_c20190817.csv.gz

In [0]:
weather_data_2016 = pd.read_csv(Weather_url_2016)
weather_data_2016.shape

(56003, 51)

In [0]:
weather_data_2016.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201607  ...          CSV
1           201607  ...          CSV
2           201607  ...          CSV
3           201607  ...          CSV
4           201607  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2016 = weather_data_2016[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2016 = dfweather_data_2016.dropna()

In [0]:
DAMAGE_PROPERTY_2016 = dfweather_data_2016['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2016['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2016

# **2017**

In [0]:
Weather_url_2017 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2017_c20200121.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2017_c20200121.csv.gz

In [0]:
weather_data_2017 = pd.read_csv(Weather_url_2017)
weather_data_2017.shape

(57024, 51)

In [0]:
weather_data_2017.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201704  ...          CSV
1           201704  ...          CSV
2           201704  ...          CSV
3           201704  ...          CSV
4           201704  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2017 = weather_data_2017[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2017 = dfweather_data_2017.dropna()

In [0]:
DAMAGE_PROPERTY_2017 = dfweather_data_2017['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2017['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2017

# **2018**

In [0]:
Weather_url_2018 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2018_c20200219.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2018_c20200219.csv.gz

In [0]:
weather_data_2018 = pd.read_csv(Weather_url_2018)
weather_data_2018.shape

(62675, 51)

In [0]:
weather_data_2018.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201806  ...          CSV
1           201806  ...          CSV
2           201806  ...          CSV
3           201806  ...          CSV
4           201806  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2018 = weather_data_2018[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2018 = dfweather_data_2018.dropna()

In [0]:
DAMAGE_PROPERTY_2018 = dfweather_data_2018['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2018['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2018

# **2019**

In [0]:
Weather_url_2019 = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2019_c20200219.csv.gz"
#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/StormEvents_details-ftp_v1.0_d2019_c20200219.csv.gz

In [0]:
weather_data_2019 = pd.read_csv(Weather_url_2019)
weather_data_2019.shape

(64439, 51)

In [0]:
weather_data_2019.head()

   BEGIN_YEARMONTH  ...  DATA_SOURCE
0           201905  ...          CSV
1           201907  ...          CSV
2           201910  ...          CSV
3           201910  ...          CSV
4           201910  ...          CSV

[5 rows x 51 columns]

In [0]:
dfweather_data_2019 = weather_data_2019[['STATE','DAMAGE_PROPERTY']].copy()

In [0]:
#dropping NaN values
dfweather_data_2019 = dfweather_data_2019.dropna()

In [0]:
DAMAGE_PROPERTY_2019 = dfweather_data_2019['DAMAGE_PROPERTY'].replace({'K': '*1e3', 'M': '*1e6', 'B': '1e9'}, regex=True).map(pd.eval).astype(int)

In [0]:
dfweather_data_2019['DAMAGE_PROPERTY'] = DAMAGE_PROPERTY_2019

In [0]:
Texas2019 = dfweather_data_2019[dfweather_data_2019['STATE'].str.match('TEXAS')]
Texas2019['DAMAGE_PROPERTY'].sum()

3093746900

In [0]:
Texas2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('TEXAS')]
damageTotalTexas = Texas2018['DAMAGE_PROPERTY'].sum()

In [0]:
Alabama2019 = dfweather_data_2019[dfweather_data_2019['STATE'].str.match('ALABAMA')]
Alabama2019['DAMAGE_PROPERTY'].sum()

940000

In [0]:
Alabama2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('ALABAMA')]
damageTotalAlabama = Alabama2018['DAMAGE_PROPERTY'].sum()

In [0]:
VERMONT2019 = dfweather_data_2019[dfweather_data_2019['STATE'].str.match('VERMONT')]
VERMONT2019['DAMAGE_PROPERTY'].sum()

9050000

In [0]:
VERMONT2018 = dfweather_data_2018[dfweather_data_2018['STATE'].str.match('VERMONT')]
damageTotalVermont = VERMONT2018['DAMAGE_PROPERTY'].sum()

In [0]:
#adding results into a dataframe
new2018df = {'State':['Vermont', 'Alabama', 'Texas'], 'Damage(USD)':[damageTotalVermont, damageTotalAlabama, damageTotalTexas]}
df = pd.DataFrame(new2018df)
df

     State  Damage(USD)
0  Vermont      5054000
1  Alabama      8340450
2    Texas    338081250

In [0]:
def sort_states(StateData, DamageData):
  Texas = StateData.str.match('TEXAS')
  Alabama = StateData.str.match('ALABAMA')
  if StateData == Texas:
    print(DamageData.sum())
  elif StateData == Alabama:
    print(DamageData.sum())
  else:
    print("not applicable")
  
  return

In [0]:
StateData = dfweather_data_2018['STATE']
DamageData = dfweather_data_2018['DAMAGE_PROPERTY']
sort_states(StateData, DamageData)

ValueError: ignored

In [0]:
dfweather_data_2019.sort_values('STATE',ascending=True)
dfweather_data_2019.head(20)

             STATE  DAMAGE_PROPERTY
0            TEXAS                0
1        MINNESOTA                0
2            TEXAS                0
3            TEXAS                0
4            TEXAS                0
5            TEXAS         10000000
6          VERMONT                0
7         NEW YORK             5000
8   ATLANTIC SOUTH                0
9   ATLANTIC SOUTH                0
10  ATLANTIC SOUTH                0
11         FLORIDA                0
13        ARKANSAS                0
14        ARKANSAS                0
15  ATLANTIC SOUTH                0
16  ATLANTIC SOUTH                0
17  GULF OF MEXICO                0
18  GULF OF MEXICO                0
19  GULF OF MEXICO                0
20         MONTANA                0

In [0]:
dfweather_data_2019.sort_values('DAMAGE_PROPERTY',ascending=False)

          STATE  DAMAGE_PROPERTY
27816     TEXAS       1551000000
41630      OHIO        500000000
33205  NEBRASKA        420000000
2053      TEXAS        400000000
31420     TEXAS        300000000
...         ...              ...
24215  ILLINOIS                0
24216  ILLINOIS                0
24217  ILLINOIS                0
24218  ILLINOIS                0
64438    ALASKA                0

[52112 rows x 2 columns]