In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [0]:
Weather_url = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv"

#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv

In [4]:
weather_data = pd.read_csv(Weather_url)
weather_data.shape

(51932, 58)

In [0]:
weather_data.tail()

       BEGIN_YEARMONTH  BEGIN_DAY  ...  ADDCORR_FLG  ADDCORR_DATE
51927           201310         31  ...          NaN           NaN
51928           201310         31  ...          NaN           NaN
51929           201310         31  ...          NaN           NaN
51930           201310         31  ...          NaN           NaN
51931           201310         31  ...          NaN           NaN

[5 rows x 58 columns]