In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [0]:
Weather_url = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv"

#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv

In [4]:
weather_data = pd.read_csv(Weather_url)
weather_data.shape

(51932, 58)

In [25]:
weather_data.tail()

       BEGIN_YEARMONTH  BEGIN_DAY  ...  ADDCORR_FLG  ADDCORR_DATE
51927           201310         31  ...          NaN           NaN
51928           201310         31  ...          NaN           NaN
51929           201310         31  ...          NaN           NaN
51930           201310         31  ...          NaN           NaN
51931           201310         31  ...          NaN           NaN

[5 rows x 58 columns]

In [26]:
dfweather_data = weather_data[['STATE','DAMAGE_PROPERTY']].copy()
dfweather_data

              STATE DAMAGE_PROPERTY
0           ALABAMA             NaN
1          COLORADO           0.00K
2        CALIFORNIA           0.00K
3           WYOMING           0.00K
4      SOUTH DAKOTA           0.00K
...             ...             ...
51927       INDIANA           4.00K
51928       INDIANA           1.00K
51929       INDIANA          10.00K
51930       INDIANA           0.50K
51931       INDIANA           1.50K

[51932 rows x 2 columns]

In [27]:
dfweather_data.isnull().sum().sort_values()

STATE                 0
DAMAGE_PROPERTY    7751
dtype: int64

In [28]:
dfweather_data.dtypes

STATE              object
DAMAGE_PROPERTY    object
dtype: object

In [0]:
#dropping NaN values
dfweather_data = dfweather_data.dropna()

In [30]:
dfweather_data.isnull().sum().sort_values()

STATE              0
DAMAGE_PROPERTY    0
dtype: int64

In [35]:
dfweather_data.sort_values(by='DAMAGE_PROPERTY', ascending= True)
dfweather_data.head(50)

           STATE DAMAGE_PROPERTY
1       COLORADO           0.00K
2     CALIFORNIA           0.00K
3        WYOMING           0.00K
4   SOUTH DAKOTA           0.00K
5       COLORADO           0.00K
6       COLORADO           0.00K
7       COLORADO           0.00K
8       COLORADO           0.00K
9       COLORADO           0.00K
11      OKLAHOMA           0.00K
12      OKLAHOMA           0.00K
13      OKLAHOMA           0.00K
14      OKLAHOMA           0.00K
15      OKLAHOMA           0.00K
16      OKLAHOMA           0.00K
17      OKLAHOMA           0.00K
18      OKLAHOMA           0.00K
19      OKLAHOMA           0.00K
20      OKLAHOMA           0.00K
21      OKLAHOMA           0.00K
22      OKLAHOMA           0.00K
23      ARKANSAS           0.00K
24      ARKANSAS           0.00K
25      ARKANSAS           0.00K
26      ARKANSAS           0.00K
27      ARKANSAS           0.00K
28      NEBRASKA           0.00K
29     WISCONSIN           0.00K
32     WISCONSIN           0.00K
33     WISCONSIN           0.00K
34      ARKANSAS           2.00K
35      ARKANSAS           0.00K
36      ARKANSAS           0.00K
37      ARKANSAS           0.00K
38      ARKANSAS           0.00K
39      ARKANSAS           0.00K
40      ARKANSAS           0.00K
41      ARKANSAS           0.00K
42      ARKANSAS           0.00K
43      ARKANSAS           0.00K
44      ARKANSAS           0.00K
45      ARKANSAS           0.00K
46      ARKANSAS           0.00K
47      ARKANSAS           0.00K
48      ARKANSAS           0.00K
49     MINNESOTA           0.00K
50     MINNESOTA           0.00K
51     MINNESOTA           0.00K
52     MINNESOTA           0.00K
53     MINNESOTA           0.00K

In [36]:
dfweather_data.tail(50)

             STATE DAMAGE_PROPERTY
51874        TEXAS           0.00K
51875        TEXAS           0.00K
51876      WYOMING           0.00K
51877      WYOMING           0.00K
51878      WYOMING           0.00K
51879      WYOMING           0.00K
51880      WYOMING           0.00K
51881      WYOMING           0.00K
51882         OHIO           2.00K
51883    LOUISIANA           0.00K
51884        TEXAS          50.00K
51885        TEXAS         100.00K
51886     MISSOURI         150.00K
51887     MISSOURI         800.00K
51888        TEXAS           0.00K
51889    LOUISIANA          10.00K
51890    LOUISIANA           0.00K
51891    LOUISIANA           0.00K
51893      WYOMING           0.00K
51894      WYOMING           0.00K
51895      WYOMING           0.00K
51896      WYOMING           0.00K
51897      WYOMING           0.00K
51898      WYOMING           0.00K
51899      INDIANA          20.00K
51900     MISSOURI          75.00K
51901      INDIANA           1.00K
51902      INDIANA           0.50K
51903      INDIANA           6.00K
51907    TENNESSEE           0.00K
51908    TENNESSEE           0.00K
51909        TEXAS          10.00K
51910        TEXAS          10.00K
51911        TEXAS           0.00K
51912      INDIANA           3.00K
51916      INDIANA           3.50K
51918     MARYLAND           0.00K
51919     ILLINOIS         100.00K
51920     ILLINOIS          40.00K
51921     ILLINOIS          70.00K
51922    LOUISIANA           0.00K
51923  PUERTO RICO           1.00K
51924        TEXAS           5.00K
51925        TEXAS           0.00K
51926      INDIANA           3.00K
51927      INDIANA           4.00K
51928      INDIANA           1.00K
51929      INDIANA          10.00K
51930      INDIANA           0.50K
51931      INDIANA           1.50K

In [0]:
def object_to_float(cell_contents):
  return float(cell_contents.strip('M').strip('B').strip('K'))

In [22]:
dfweather_data['DAMAGE_PROPERTY_K'] = dfweather_data['DAMAGE_PROPERTY'].apply(object_to_float)
dfweather_data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

          STATE DAMAGE_PROPERTY  DAMAGE_PROPERTY_K
1      COLORADO           0.00K                0.0
2    CALIFORNIA           0.00K                0.0
3       WYOMING           0.00K                0.0
4  SOUTH DAKOTA           0.00K                0.0
5      COLORADO           0.00K                0.0