In [0]:
#Import all the stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [0]:
Weather_url = "https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv"

#!curl https://www1.ncdc.noaa.gov/pub/data/swdi/stormevents/csvfiles/legacy/stormdata_2013.csv

In [26]:
weather_data = pd.read_csv(Weather_url)
weather_data.shape

(51932, 58)

In [27]:
weather_data.tail()

       BEGIN_YEARMONTH  BEGIN_DAY  ...  ADDCORR_FLG  ADDCORR_DATE
51927           201310         31  ...          NaN           NaN
51928           201310         31  ...          NaN           NaN
51929           201310         31  ...          NaN           NaN
51930           201310         31  ...          NaN           NaN
51931           201310         31  ...          NaN           NaN

[5 rows x 58 columns]

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [0]:
#https://enviro.epa.gov/enviro/ez_build_sql_v2.get_table
epa_url = '58081889.CSV'
epa_data = pd.read_csv(epa_url)

In [22]:
epa_data.head()

   _TRI_YR_ST_SUM_EZ.REPORTING_YEAR  ...  Code Expansion for State Abbreviation
0                              1997  ...                                    NaN
1                              1997  ...                                    NaN
2                              1991  ...                                    NaN
3                              1998  ...                                    NaN
4                              1991  ...                                    NaN

[5 rows x 10 columns]

In [23]:
epa_data.tail()

      _TRI_YR_ST_SUM_EZ.REPORTING_YEAR  ...  Code Expansion for State Abbreviation
7832                              2007  ...                                    NaN
7833                              1999  ...                                    NaN
7834                              1987  ...                                    NaN
7835                              1989  ...                                    NaN
7836                              2007  ...                                    NaN

[5 rows x 10 columns]